<div class="articles-wraper">
    <div class="card my-card-article mt-0 mb-sm-1 mb-lg-3" >
        <a href="article.html">
            <img src="./images/article.png" class="card-img-top" alt="...">
        </a>
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--6NHVlq1_--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/462710/97fd0fd9-b2db-4394-a27a-4cf4a7fe97dc.jpeg" alt="antdp425 profile" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Renaissance Engineer</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="article.html">
                <h3 class="title-articleFull font-weight-bold">
                    Microservices in 4 minutes - Introduction to Microservices
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="yellow p-1 rounded" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="green p-1 rounded" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">200 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">10 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">2 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3">
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--3zbV9vqz--/c_fill,f_auto,fl_progressive,h_320,q_auto,w_320/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/342525/21d42783-97b3-41d1-a778-d30c3120690a.jpg" alt="antdp425 profile" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">atultyagi612</p>
                <p class="f-12">Mar 12 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    Typescript - Tips & Tricks - Non-null assertion operator
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue p-1 rounded" href="">#career</a>
            <a class="ml-1 mr-1 p-1 " href="">#new</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">20 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">70 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">2 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3" >
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--X626jpWK--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/597777/2fa6190e-f8a8-4a8e-af2a-36bb560e40ca.jpeg" alt="atultyagi612 profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="article.html" class="text-avatar-post ">
                <p class="f-14 mb-0">yaguiu</p>
                <p class="f-12">Mar 14 (13 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    Why Does an Insurance Company Need an App?
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="rounded p-1 yellow" href="">#webdev</a>
            <a class="ml-1 mr-1 p-1" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">100 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">32 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">5 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
        <div class="m-2 p-2 bg-light p-3 rounded">
            <div class="text-avatar-comment d-flex align-items-center avatar-post-comment">
                <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--6g52Nrx9--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/110884/c4807448-b7fe-4d8d-ba13-a3ec4c97b377.jpeg" alt="codepo8 profile" class="crayons-avatar__image" loading="lazy"></a>
                    <a href="" class="avatar-post-comment align-items-center d-flex">
                    <p class="f-14 mb-0 mr-2">Lance12222</p>
                    <p class="f-12">18 hours ago</p>
                </a> 
            </div>
            <p class="avatar-comment">I don't see it being an alternative to what's out there, but it's still a cool project. My suggestion is to ignore others and keep building it for your needs and cases. Focus on how it could do things better than the alternatives and worse case you just get some additional library experience under your belt? I love shall projects like this because as someone who is interested in building tools and libraries it's interesting to see other libs, modules, etc... In their initial project state. Thanks for sharing
            </p>
            <a class="likes-hover-comment p-1" href="">See all 43 comments</a>
        </div>
       
    </div>
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3">
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--yG9NaJlu--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/161327/2ff05281-db58-4dcb-946a-4b679e4a266b.jpeg" alt="alvaromontoro profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">
                    Alvaro Montoro
                    </p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    freeCodeCamp Project Done #3: A Product Landing Page
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 mr-1 p-1 " href="">#career</a>
            <a class="green rounded p-1" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">220 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">32 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">2 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3">
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--OBNK6qrn--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/235101/1b887824-a9a8-481c-a5a2-9f2bdbcdd57e.jpeg" alt="meddy672 profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Christian Heilmann</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    CSS Tips: Relative units with EM and REM
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">400 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">40 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">8 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3" >
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--Dld5MpZQ--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/430182/bd897f8a-247e-44b6-bac8-db79fbe1a55b.jpeg" alt="technoglot profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Renaissance Engineer</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    7 Javascript Libraries To Try in 2021
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">200 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">30 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">8 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3" >
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--JGVoTfVx--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/507096/fe1c31aa-a974-42d3-a189-df8fe702cd3a.jpeg" alt="shahednasser profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Shahed Nasser</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    Conditional Function Invocation without Conditional Statements in JS
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">200 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">30 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">8 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3" >
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--gOKZsbRv--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/169845/3abe3d8b-215e-4dc6-ac1b-ecfa035aaf6a.jpg" alt="emma profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Emma Goto 🍙</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    How to invalidate a JWT using a blacklist                            
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">200 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">30 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">8 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3" >
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--ztYyqg9K--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/523927/0731e438-8946-466d-b4d5-1de21551ae4c.jpg" alt="puppo profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Luca Del Puppo</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    An HTML and CSS only dark‑mode toggle button.
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">200 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">30 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">8 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3">
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--tu8lOCIV--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/412255/70ac11ad-57e0-4d68-b7d9-1faa958e4782.png" alt="michaelburrows profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Michael Burrows</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    Taking your JS Skills to the Next Level { with The Most Powerful JS_Tutorial }
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">200 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">30 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">8 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
    <div class="card my-card-article mt-1 mb-sm-1 mb-lg-3">
        <div class="avatar-post p-3 d-flex">
            <a href=""><img class="rounded-circle border jb-img-avatar" src="https://res.cloudinary.com/practicaldev/image/fetch/s--_n3hYde9--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/556231/bf44ab7d-c832-421e-a03e-b594525349c3.png" alt="ayushn21 profile" class="crayons-avatar__image" loading="lazy"></a>
            <a href="" class="text-avatar-post ">
                <p class="f-14 mb-0">Ayush Newatia</p>
                <p class="f-12">Mar 14 (18 hours ago)</p>
            </a>
        </div>
        <div class="">
            <a href="http://">
                <h3 class="title-article">
                    Speedup your JavaScript code using this for loop.
                </h3>
            </a>
        </div>
        <div class="mention-article mt-2 mb-2">
            <a class="" href="">#webdev</a>
            <a class="ml-1 blue mr-1 p-1 rounded" href="">#career</a>
            <a class="" href="">#beginners</a>
        </div>
        <div class="d-flex likes inside-article justify-content-between m-2 p-0">
            <div class="d-inline-flex align-items-center">
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">200 </h4>
                    <h3 class="mr-2">reactions</h3>
                </a>
                <a class="d-flex likes-hover align-items-end" href="">
                    <svg class="crayons-icon mb-1" width="24px" height="24px"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z">
                        </path>
                    </svg>
                    <h4 class="ml-1 mr-1">30 </h4>
                    <h3 class="mr-2">comments</h3>
                </a>
            </div>
            <a class="d-flex align-items-baseline" href="">
                <h5 class="">8 min read</h5>
                <button class="button rounded ml-2">Save</button>
            </a>
        </div>
    </div> 
</div>